$background-color: hsl(250, 17%, 14%);
$white: hsl(0, 0%, 100%);
$softRed: hsl(345, 95%, 68%);
$countTopColor: hsl(240, 21%, 22%);
$countBottomColor: hsl(235, 19%, 25%);
$grayishBlue:hsl(237, 18%, 59%);