// colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);


// margin main
$marginMainMobile: 30px;
$marginMainDesktop: 160px;

// margin sections
$marginTitleMobile: 50px;
$marginBeetwenSectionMobile: 100px;
$marginBeetwenSectionDesktop: 180px;

// gap grid
$gapMobile: 20px;
$gapDesktop: 35px;

//  font
$sizeFont: 15px;
